@model IEnumerable<FlowerLink.Models.BLL.myorderBLL>
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.Banner.Count > 0)
{
<div class="breadcrumb-area section-ptb" style="background: url(@System.Configuration.ConfigurationManager.AppSettings["Image"].ToString()@ViewBag.Banner[0].Image) repeat scroll 0 0;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (HttpContext.Current.Request.Cookies["lang"].Value == "en")
                {
                    <h2 class="breadcrumb-title">@ViewBag.Banner[0].MainHeading </h2>
                }
                else
                {
                    <h2 class="breadcrumb-title">@ViewBag.Banner[0].ArabicMainHeading </h2>
                }
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="~/home/index" data-translate="a0">Home</a></li>
                    <li class="breadcrumb-item active" data-translate="00mo1">Orders</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
}
else
{
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="breadcrumb-title" data-translate="00mo0">My Orders</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="~/home/index" data-translate="a0">Home</a></li>
                        <li class="breadcrumb-item active" data-translate="00mo1">Orders</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
}

<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb compaer-page contact-bg">
    <div class="container w-100">
        <h4 class="text-deal3 pt-0 text-sm-left text-center mb-30" data-translate="00mo2">-- All Orders --</h4>
        <div class="row">
            <div class="col-12">
                <!-- Compare Table -->
                <div class="table-responsive">
                    <table id="example" class="order-table table mb-0 table-bordered dt-responsive">
                        <thead>
                            <tr>
                                <th data-translate="00mo3">#</th>
                                <th data-translate="00mo3">Order#</th>
                                <th data-translate="00mo4">Recipient Name</th>
                                <th data-translate="00mo5">Total</th>
                                <th data-translate="00mo6">Order Date</th>
                                <th data-translate="00mo7">Status</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody id="orders">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Row_Counter)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrderNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GrandTotal)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                    <td>
                                        @if (item.StatusID == 101)
                                        {
                                            <span class="badge badge-primary py-2 px-2" style=" font-size: 12px;">In Progress</span>
                                        }
                                        else if (item.StatusID == 102)
                                        {
                                            <span class="badge badge-info py-2 px-2" style=" font-size: 12px;">Order Accepted</span>
                                        }
                                        else if (item.StatusID == 104)
                                        {
                                            <span class="badge badge-danger py-2 px-2" style=" font-size: 12px;">Payment Failed</span>
                                        }
                                        else if (item.StatusID == 100)
                                        {
                                            <span class="badge badge-success py-2 px-2" style=" font-size: 12px;">Order Delivered</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger py-2 px-2" style=" font-size: 12px;">Delivery Failed</span>
                                        }

                                    </td>
                                    <td><a href="@Url.Action("OrderDetails", "Order", new { OrderID = item.OrderID })" class="btn btn-small btn-default">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap end -->

@section Scripts {
    <script src="~/Content/assets/js/paginathing.js"></script>

}
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('table tbody').paginathing({
            perPage: 12,
            firstLast: true,
            limitPagination: false,
            prevNext: true,
            containerClass: 'pagination-container',
            insertAfter: 'table'

        });
    });


</script>